:root{
  /* COLORS */
  --color-pimary: #BB2339;
}


*{
  box-sizing: border-box;
}

.news{
  padding: 70px 0 70px;
}

.news-wrapper{
  display: flex;
  align-content: center;
  position: relative;
}

.news-wrapper__start{
  position: absolute;
}

.news-page__link-home{
  color: #B0B0B0;
  font-size: 14px;
  letter-spacing: 0.42px;
  margin-right: 18px;
}

.news-page__link-home::after{
  display: inline-block;
  position: absolute;
  top: 2px;
  content: "";
  width: 1.5px;
  height: 16px;
  background-color: #B0B0B0;
  margin-left: 10px;
}

.news-page__link-news{
  color: var(--color-pimary);
  font-size: 14px;
  letter-spacing: 0.42px;
}

.news-header{
  margin: 0 auto;
  text-align: center;
}

.news-list{
  display: flex;
  flex-wrap: wrap;
  padding-top: 60px;
  column-gap: 30px;
  row-gap: 40px;
}

.news-item{
  margin: 0;
  padding: 0;
  background-color: #fff;
  border-radius: 14px;
  border: 1px solid rgba(36, 36, 36, 0.10);
}

.news-item__contend{
  width: 100%;
  max-width: 410px;
  padding: 20px 20px 30px 20px;
}

.news-item__title{
  margin: 0;
  margin-bottom: 10px;
  color: #242424;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  text-transform: capitalize;
}

.news-item__desc{
  color: #AAA;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 20px;
}

.news-item__more-info{
  display: flex;
  justify-content: space-between;
}

.news-item__more-info__link{
  color: var(--color-pimary);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.64px;
}

.news-item__more-info__time{
  color: #242424;
  font-size: 14px;
  opacity: 0.5;
}


